{% extends "prefabs/layout.html" %}

{% block content %}
<div class="login">
    <h1><i class="fa-solid fa-user"></i> Check-in</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
        {% else %}
            <h2>Sign in for period 1 study.</h2>
        {% endif %}
    {% endwith %}

    {% if counter %}
    <form action="/check-register" method="post">
        <input type="submit" value="Check In" class="checkin-submit">
    </form>
    {% endif %}

    <hr>
    <h2>*You must be connected to school Wifi to check in.</h2>
</div>
{% endblock %}
