{% extends "prefabs/layout.html" %}

{% block content %}
<div class="login">
    <h1><i class="fa-solid fa-user"></i> Check-in</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <h3>{{ message }}</h3>
                {% endfor %}
        {% else %}
            <h2>Sign in for period 1 study.</h2>
        {% endif %}
    {% endwith %}

    {% if not double_counter %}
    <form action="/check-register" method="post">
        <select id="location" name="location" class="login-box">
            <option value="Library" selected>Library</option>
            <option value="P Block">P Block</option>
            <option value="Common Room">Common Room</option>
            <option value="Other">Other</option>
        </select>
        <br>
        <input type="submit" value="Check In" class="login-submit">
    </form>
    {% else %}
    <h4>You've checked in for today</h4>
    {% endif %}

    <hr>
    <h2>*You must be connected to school Wifi to check in.</h2>
</div>
{% endblock %}
