{% extends "prefabs/layout.html" %}

{% block content %}
<div class="home">
    <div class="hero">
        <h1>
            Study Checker
        </h1>
    </div>

    <div>
        <h2>
            What is StudyChecker?
        </h2>

        <h3>
            StudyChecker is a school management application designed to simplify study period attendance. 
            Teachers can upload and manage student timetables, 
            view daily attendance, 
            and monitor check-ins. 
            Students need to verify their school Email to record their attendance.
        </h3>
    </div>

    <div class="about">
        <img src="static/images/home-about.jpg">
    </div>

    <div class="divider">
        <hr>
    </div>

    <!-- show login/signup buttons if user is not signed in -->
    {% if not (session["teacher"] or session["student"]) %}
    <div class="buttons">
        <a class="student-login" href="{{ url_for('student_login') }}">
            <i class="fa-solid fa-graduation-cap"></i>
            <h4>Student Login</h4>
        </a>

        <a class="teacher-login" href="{{ url_for('sign_up') }}">
            <i class="fa-solid fa-school"></i>
            <h4>Sign-up</h4>
        </a>
    </div>

    <div class="divider">
        <hr>
    </div>
    {% endif %}
</div>
{% endblock %}
