{% extends "prefabs/layout.html" %}

{% block content %}
<div class="login">
    <h1><i class="fa-solid fa-user"></i> Register Account</h1>
    

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <h3>*{{ message }}</h3>
                {% endfor %}
        {% else %}
            <h2>Register your student account.</h2>
        {% endif %}
    {% endwith %}

    <form action="register-account" method="post">
        <input type="text" name="username" placeholder="Email Address" required class="login-box">
        <br>
        <input type="text" name="username" placeholder="Student Number" required class="login-box">
        <br>
        <input type="password" name="password" placeholder="Password" required class="login-box">
        <br>
        <input type="submit" value="Log in" class="login-submit">
    </form>

    <hr>
    <h2>You must use a school email account.</h2>
</div>
{% endblock %}
