{% extends "prefabs/layout.html" %}

{% block content %}
<div class="login">
    <h1><i class="fa-solid fa-user"></i> Student Log In</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <h3>*{{ message }}</h3>
                {% endfor %}
        {% else %}
            <h2>Check-in for period 1.</h2>
        {% endif %}
    {% endwith %}

    <a href="{{ url_for('student_login') }}">
        <button>Sign in with Google</button>
    </a>

    <hr>
    <h2>Don't have an account? Check with your dean.</h2>
</div>
{% endblock %}
