{% extends "prefabs/layout.html" %}

{% block content %}
<div class="login">
    <h1><i class="fa-solid fa-user"></i> Teacher Log In</h1>
    

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <h3>*{{ message }}</h3>
                {% endfor %}
        {% else %}
            <h2>Manage students and check study period attendance</h2>
        {% endif %}
    {% endwith %}

    <form action="/teacher-loginregister" method="POST">
        <input type="text" name="username" placeholder="Teacher Code" required class="login-box">
        <br>
        <input type="password" name="password" placeholder="Password" required class="login-box">
        <br>
        <input type="submit" value="Log in" class="login-submit">
    </form>

    <hr>
    <h2>To get a teacher account set up, send an Email to 22354@burnside.school.nz</h2>
</div>
{% endblock %}
