{% extends "prefabs/layout.html" %}

{% block content %}
<div class="login">
    <h1><i class="fa-solid fa-user"></i> Upload Timetables</h1>
    

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <h3>*{{ message }}</h3>
                {% endfor %}
        {% else %}
            <h2>Upload student timetables for each day of the week</h2>
        {% endif %}
    {% endwith %}

    <form action="/upload-timetable" method="POST" enctype="multipart/form-data">
        <select id="day" name="day" class="login-box">
            <option value="Monday" selected>Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
        <br>
        <input type="file" id="file" name="file" accept=".csv" class="file" required>
        <br>
        <input type="submit" value="Upload" class="login-submit">
    </form>

    <hr>
    <h2>Adding a new timetable will completely replace the previous timetable assigned to the same day</h2>
</div>
{% endblock %}
