/* BODY STYLES */
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    flex-shrink: 0;
}

main {
    flex: 1;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* HEADER STYLES */
.header {
    background-color: #004E42;
    max-width: 100vw;
    padding: 0 4vw 0 4vw;
    display: flex;
    flex-direction: row;
}

.header h1 {
    color: black;
    filter: invert(1);
    font-family: comfortaa;
    font-weight: bold;
    font-size: 1vw;
    margin: auto 0 auto 0;
    cursor: pointer;
}

.header i {
    transition-duration: 0.3s;
}

.header h1:hover i {
    transform: rotate(90deg)
}

.header a {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 auto;
}

.header img {
    width: 5vw;
}

.header h2 {
    color: white;
    padding-top: auto;
    font-family: oswald;
    font-weight: normal;
    font-size: 1vw;
    margin: auto 0 auto 0;
}

.header h3 {
    color: black;
    font-family: comfortaa;
    font-weight: bold;
    font-size: 1.25vw;
    margin: auto 0 auto 4vw;
    cursor: pointer;
    
    background-color: #00AB8E;
    padding: 1vw;
    border-radius: 1vw;
    transition-duration: 0.3s;
}

.header h3:hover {
    color: white;
}

/* POPUP MENU STYLES */
.menu {
    background-color: #ffffff;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 2vw 0 2vw 0;
    position: fixed;
}

.menu a {
    color: #004E42;
    padding: 0 0 0 4vw;
    font-family: comfortaa;
    font-weight: bold;
    font-size: 1vw;
    margin: 0.5vw 0 0.5vw 0;
}

/* FOOTER STYLES */
.footer {
    display: flex;
    flex-direction: row;
    margin: auto 0 0 0;

    background-image: url(../images/footer-background.jpg);
    background-size: contain;
}

.footer img {
    width: 8vw;
    height: 9vw;
    margin: 4vw 0 4vw 4vw;
}

.footer a {
    color: white;
    font-family: oswald;
    font-weight: bold;
    font-size: 1.5vw;
    margin: auto 0 auto 0;
    padding: 1vw 1vw 1vw 0;
}

.footer h1 {
    color: white;
    font-family: oswald;
    font-weight: bold;
    font-size: 1vw;
    margin: auto 4vw auto auto;
    padding: 1vw 1vw 1vw 0;
}

/* HOME STYLES */
.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home div {
    background-color: white;
}

.home .hero {
    grid-column: span 2;
    background-image: url(../images/home-hero.jpg);
    text-align: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about img {
    width: 32vw;
    display: block;
    object-fit: cover;
    object-position: center;
    margin: 4vw 16vw 0 2vw;
    border-radius: 1vw;
}

.home h1 {
    color: white;
    font-family: oswald;
    font-weight: bold;
    font-size: 6vw;
    margin: 14vw 0 14vw 0;
}

.home h2 {
    color: #00AB8E;
    font-family: raleway;
    font-weight: bolder;
    font-size: 2vw;
    margin: 4vw 2vw 0 16vw;
}

.home h3 {
    color: black;
    font-family: comfortaa;
    font-size: 1.2vw;
    margin: 1vw 2vw 0 16vw;
}

.divider {
    grid-column: span 2;
    margin: 2vw 0 2vw 0;
}

.home hr {
    width: 68vw;
    height: 0.05vw;
    background-color: #00AB8E;
}

.buttons {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.buttons a {
    height: 12vw;
    width: 24vw;
    padding: 3vw;
    text-align: center;
    transition-duration: 0.3s;

    color: white;
    background-color: #00AB8E;
}

.buttons a:hover {
    background-color: #004E42;
}

.buttons .student-login {
    margin: 0 2vw 0 auto;
    border-radius: 0 0 0 2vw;
}

.buttons .teacher-login {
    margin: 0 auto 0 2vw;
    border-radius: 0 0 2vw 0;
}

.buttons i {
    font-size: 4vw;
}

.buttons h4 {
    font-family: comfortaa;
    font-size: 1.5vw;
}

/** STUDENT LOGIN STYLES **/
.login {
    background-image: url(../images/login-background.png);
    background-size: cover;
    margin: 4vw 20vw 4vw 20vw;
    padding: 2vw 0 2vw 4vw;
    border-radius: 4vw 0 4vw 0;
    min-height: 60vh;
}

.login h1 {
    font-family: comfortaa;
    font-size: 2vw;
    color: white;
}

.login h2 {
    font-family: raleway;
    font-size: 1vw;
    color: white;
    margin: 0 0 2vw 0;
}

.login h3 {
    font-family: raleway;
    font-size: 1.5vw;
    color: lightcoral;
    margin: 0 0 2vw 0;
}

.login h4 {
    font-family: comfortaa;
    font-size: 1.75vw;
    color: white;
    background-color: #00AB8E;
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 1vw;
    max-width: 30vw;
    transition-duration: 0.3s;
}

.login h4:hover {
    color: #004E42;
}

.login .login-box {
    padding: 1vw;
    margin: 0 0 2vw 0;
    width: 30vw;

    font-family: raleway;
}

.login .file {
    display: inline-block;
    padding: 1vw;
    margin: 0 0 4vw 0;
    border-radius: 1vw;
    border-width: 0;
    background-color: white;

    font-family: raleway;
}

.login .file:hover {
    background-color: #00AB8E;
}

.login .file::file-selector-button {
    font-family: raleway;
    background-color: lightgray;
    padding: 1vw;
    margin: 0 1vw 0 0;
    border: none;
    border-radius: 1vw;
}

.login .google-submit {
    display: inline-block;
    padding: 2vw;
    margin: 0 0 1vw 0;
    border-radius: 1vw;
    border-width: 0;
    background-color: white;

    color: black;
    font-family: raleway;
    transition-duration: 0.3s;
}

.login .google-submit:hover {
    background-color: #00AB8E;
}

.login .login-submit {
    padding: 1vw;
    border-radius: 1vw;
    border-width: 0;

    font-family: raleway;
    transition-duration: 0.3s;
}

.login .login-submit:hover {
    background-color: #00AB8E;
}

.login .login-subtext {
    color: lightblue;
    margin: 0;
    background-color: none;
}

.login .login-subtext:hover {
    text-decoration: underline;
}

.login hr {
    max-width: 40vw;
    margin: 2vw 0 1vw 0;
}

/* LIST STYLES */
.list {
    padding: 4vw 10vw 4vw 10vw;

    background-image: url(../images/home-hero.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list .listbox {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2vw;

    background-color: white;
    border-radius: 4vw 0 4vw 0;
}

.listbox div {
    display: flex;
    flex-direction: row;

    padding: 0 0 0 2vw;
    background-color: white;
    transition-duration: 0.3s;
    border-radius: 2vw;
}

.listbox div:hover {
    background-color: lightgrey;
}

.list h1 {
    font-family: raleway;
    font-size: 2vw;
    color: black;
}

.list h2 {
    font-family: raleway;
    font-size: 2vw;
    color: black;

    margin: auto 2vw auto auto;
}

/** FILTER STYLES **/
.filter {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2vw;
    margin: 0 0 2vw;

    background-color: white;
    border-radius: 4vw;
    max-width: 40vw;
}

.filter .login-box {
    padding: 1vw;
    margin: 0 0 2vw 0;
    width: 30vw;

    font-family: raleway;
}

.filter .login-submit {
    padding: 1vw;
    border-radius: 1vw;
    border-width: 0;
    background-color: lightgray;

    font-family: raleway;
    transition-duration: 0.3s;
}

.filter .login-submit:hover {
    background-color: #00AB8E;
}
