<div class="header">
    <h1 onclick="MenuToggle()">
        Menu
        <i class="fa-solid fa-arrow-right"></i>
    </h1>

    {% if session["name"] %}
        <h3>
            <i class="fa-solid fa-user"></i>
            Logged in as {{ session["name"] }}
        </h3>
    {% endif %}
    
    <a href="{{ url_for('home') }}">
        <img src="/static/images/header-icon.png" alt="BHS icon">
        <h2>
            Burnside High School
            <br>
            Study Checker
        </h2>
    </a>
</div>

<div class="menu hidden" id="menu">
    <a href="{{ url_for('home') }}">Home</a>

    <!-- Display only if user isn't logged in -->
    {% if not (session["teacher"] or session["student"]) %}
        <a href="{{ url_for('teacher_login') }}">Teacher Login</a>
        <a href="{{ url_for('student_login') }}">Student Login</a>
        <a href="{{ url_for('sign_up') }}">Sign up</a>
    {% endif %}

    <!-- Display if teacher is logged in -->
    {% if session["teacher"] %}
        <a href="{{ url_for('attendance') }}">Attendance</a>
        <a href="{{ url_for('timetables') }}">Timetables</a>
        <a href="{{ url_for('upload_timetable') }}">Upload Timetables</a>
    {% endif %}

    <!-- Display if student is logged in -->
    {% if session["student"] %}
        <a href="{{ url_for('check_in') }}">Check-in</a>
    {% endif %}

    <!-- Display if any user is logged in -->
    {% if (session["teacher"] or session["student"]) %}
        <a href="{{ url_for('sign_out') }}">Sign Out</a>
    {% endif %}
</div>

<script>
    function MenuToggle() {
        window.scrollTo({ top: 0 });
        const menu = document.getElementById('menu');
        menu.classList.toggle('hidden');
        
        if (menu.classList.contains('hidden')) {
            document.body.style.overflow = 'auto';
        } else {
            document.body.style.overflow = 'hidden';
        }
    }
</script>

<style>
    .menu.hidden {
        display: none;
    }
</style>
